.c-trigger {
  display: grid;
  grid-template-columns: 67.4rem 1fr;
  grid-template-rows: 64.9fr 11.1rem;
  align-items: center;
  justify-items: center;
  row-gap: 2.5rem;
}

/****************************
* Invertendo ordem da seção *
****************************/

.c-trigger--reverse {
  grid-template-columns: 1fr 67.4rem;
  grid-template-rows: 1fr;
}

.c-trigger--reverse > img {
  order: 1;
}

/***************************/

/* Card lateral */
.c-trigget__side-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 52.6rem;
  max-width: 34.8rem;
  overflow: hidden;
  cursor: pointer;
}

.c-trigget__side-card__title {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.c-trigget__side-card__paragraph {
  letter-spacing: 0.02rem;
  font-weight: 600;
  max-width: 28rem;
  color: var(--second-text-color);
}

/* Lista de pontos positivos */
.c-triggers__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-column: span 2;
  width: 100%;
  height: 100%;
}

.c-triggers__item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c-triggers__description {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 2.4rem auto;
  width: 20.1rem;
  height: 6.1rem;
  row-gap: 0.8rem;
  column-gap: 1.2rem;
}
.c-triggers__item__number {
  color: var(--danger-text-color);
  line-height: 5rem;
  height: fit-content;
  grid-row: span 2;
  padding-right: 0.3rem;
}

.c-triggers__item__title {
  font-weight: 700;
}

.c-triggers__item__text {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/* Lista de cores do produto */
.c-side-card__colors-item {
  display: inline-block;
}

.c-side-card__color {
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
}

@media (max-width: 576px) {
  .c-trigger {
    grid-template-columns: 41.4rem;
    grid-template-rows: 50.5rem 70rem 44.4rem;
    justify-content: center;
    margin: 0;
  }

  .c-trigger--reverse {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .c-trigger--reverse > img {
    order: -1;
  }

  .c-trigger > img,
  .u-container-size {
    width: 100vw;
    height: 100%;
  }

  .c-trigger > img {
    object-fit: cover;
  }

  .c-trigget__side-card {
    width: 34.8rem;
  }

  .c-triggers__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 1;
  }

  .c-triggers__item {
    justify-content: start;
    width: 34.9rem;
  }
}
